/* LOCAL FONT */
@font-face {
    font-family: Wisdom;
    src: url('../fonts/FontBundles-Wisdom-Script/wisdomscript-regular.otf') format('opentype');
}
/* GRID */
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 398px;
    float: left;
}

/* SYNCHRONIZE FONTS */
body {
    font-family: 'Montserrat', sans-serif;
}
/* HEADER SECTION */
h1 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
}
#green-text {
    color: #77a466;
}
nav ul li {
    text-align: right;
    list-style: none;
    display: inline;
    color: #77a466;
    margin-left: 24px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
}

/* IMAGE BORDER */
img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

/* MAIN */
main h2 {
    color: #77a466;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
}
main p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

/* SECTIONS */
#sections {
    padding: 25px;
}
section h3 {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}
section #specials{
    color: #77a466;
    font-size: 16px;
    line-height: 30px;
}
section p {
    font-size: 16px;
    line-height: 21px;
}
section p #contact {
    font-size: 16px;
    line-height: 24px;
}
section {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    height: 208px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
#middle {
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}
section p, section h3 {
    padding-left: 25px;
    padding-right: 25px;
}


/* FOOTER */
footer {
    clear: both;
    text-align: center;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 10px;
}

footer span {
    font-family: 'Wisdom';
    font-size: 20px;
    line-height: 23px;
    text-transform: none;
    color: #77a466;
}
